@layer components {
  .header {
    @apply mb-4 pt-8 pb-4 border-b border-dashed;
    border-color: var(--subheading-color);
    @screen md {
      @apply mb-8 pt-16 pb-12;
    }
    &__title {
      @apply font-semibold text-2xl;
      @screen md {
        @apply mb-2 text-4xl tracking-wide;
      }
      color: var(--heading-color);
    }
    &__description {
      @apply text-lg;
      @screen md {
        @apply text-2xl;
      }
      color: var(--subheading-color);
    }
  }
}
