@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './pages/home.css';

@import '../components/header/style.css';
@import '../components/hadist/style.css';
@import '../components/footer/style.css';

@import 'tailwindcss/utilities';

* {
  font-family: 'Roboto Condensed', sans-serif;
}

html.dark {
  --bg-color: #121212;
  --heading-color: #ffffff;
  --subheading-color: #888888;
}

html {
  @apply duration-500;
  scroll-behavior: smooth;
  --bg-color: #ffffff;
  --heading-color: #000000;
  --subheading-color: #444444;
  background-color: var(--bg-color);
}
